<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      User Posts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="ion-margin-top" [formGroup]="postForm" (ngSubmit)="createPost()">
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Body</ion-label>
      <ion-input type="text" formControlName="body"></ion-input>      
    </ion-item>
    <ion-button type="submit" expand="block">Post</ion-button>
  </form>
  <ion-list>
    <ion-card *ngFor="let i of posts">
      <ion-card-header><b>{{i.title}}</b></ion-card-header>
      <ion-card-content>{{i.body}}</ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
